body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: white;
    color: black;
}

.dark-mode {
    background-color: black;
    color: white;
}

.navbar a {
    margin-right: 10px;
}
